{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/vehicule.css'%}">
</head>
<body>
    <main>
        <div class="container">
            <section class="vehicule">
                <figure>
                    <img src="/media/{{vehicule.image}}" alt="">
                    <figcaption>
                        <h3>{{vehicule.marque}} {{vehicule.modele}}</h3>
                        <p>{{vehicule.date_achat}}</p>
                    </figcaption>
                </figure>
            </section>
            <form action="/vehicules/modifie/{{vehicule.id}}" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="infos">
                    <label for="">
                        Marque <input type="text" name="marque" value="{{vehicule.marque}}" id="">
                    </label>
                    <label for="">
                        Modele <input type="text" name="modele" value="{{vehicule.modele}}" id="">
                    </label>
                    <label for="">
                        Immatriculation <input type="text" name="immatrucilation" value="{{vehicule.immatriculation}}" id="">
                    </label>
                    <label for="">
                        Statut 
                        <select type="text" name="statut" value="{{vehicule.statut}}" id="">
                            <option value="Disponible">Disponible</option>
                            <option value="En maintenance">En maintenance</option>
                        </select>
                    </label>
                    <label for="">
                        Type <input type="text" name="type_vehicule" value="{{vehicule.type_vehicule}}" id="">
                    </label>
                    <label for="">
                        Kilometrage <input type="text" name="kilometrage" value="{{vehicule.kilometrage}}" id="">
                    </label>
                    <label for="">
                        Transmission <input type="text" name="transmission" value="{{vehicule.transmission}}" id="">
                    </label>
                    <label for="">
                        Type Carburant <input type="text" name="type_carburant" value="{{vehicule.type_carburant}}" id="">
                    </label>
                    <label for="">
                        Date achat <input type="date" name="date_achat" value="{{vehicule.date_achat}}" id="">
                    </label>
                    <label for="">
                        Image <input type="file" name="image" value="{{vehicule.image}}" id="">
                    </label>
                </div>

                <div class="buttons">
                    <button type="submit" class="save">Save</button>
                    <a href="/dashbord" class="cancel">Cancel</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>